include LICENSE README.md THIRD_PARTY_NOTICES.md CHANGELOG.md CONTRIBUTING.md
recursive-include docs *.md *.txt
recursive-include examples *.py *.png *.json *.md *.txt *.pes *.dst
recursive-include tests *.py
recursive-include tools *.py
recursive-include .github *.yml
